<div class="container home">
  <div class="row">
    <%= render 'shared/user-side-bar', book: @book%>
    <div class="col-md-7 books-contaier">
      <div class="books__title">
        <h3>Books</h3>
      </div>
      <div class="books__body">
        <table class="table">
          <tr>
            <td>Title</td>
            <td>Opinion</td>
          </tr>
          <% current_user.books.each do |book|%>
            <tr>
              <td><%= book.title%></td>
              <td><%= book.body%></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>